            body {
              background-image: url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?cs=srgb&dl=bricks-brickwall-brickwork-1092364.jpg&fm=jpg);
              background-size: 1600px;
            }     
            .jumbotron {
                background-color: #66ff99;
                color: #000000;
                padding: 30px 25px;
            }
            .bg-grey {
              background-color: #f6f6f6;
            }
           .container-fluid {
             padding: 60px 50px;
            }

            .logo {
                color: #66ff99;
                font-size: 200px;
            }

            @media screen and (max-width: 768px) {
              .col-sm-4 {
                text-align: center;
                margin: 25px 0;
              }
            }
            div.home-button {
                position:relative;
                left: 50px;
                top:-150px;
             }
            div.logout-button {
                position:relative;
                left: 1300px;
                top:-200px;
             }

            #profileBox {
              width:400px;
              border: 1px solid;
              padding: 10px;
              box-shadow: 5px 10px 18px #262626;
              background:#808080;

            }
            div.box {
              position:relative;
              left: 550px;
              
            }

            p {
              font-weight: bold;
            }

